# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Jupyter
.ipynb_checkpoints

# Data
*.csv
*.parquet
*.pkl
*.h5

# Models
*.json
*.joblib

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
